# deps
node_modules/
.pnp
.pnp.js

# next
.next/
out/

# build
build/
dist/

# env
.env
.env.local
.env.*.local

# debug
npm-debug.log*

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# typescript
*.tsbuildinfo
next-env.d.ts

# drizzle
src/server/db/migrations/meta/
